<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tudoujf">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <!--////////////////////////////友盟分享权限////////////////////////////////////-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--////////////////////////////友盟分享权限////////////////////////////////////-->


    <!--//////////////////////////////////极光推送////////////////////////////////////////////////-->


    <!-- Required -->
    <permission
        android:name="com.tudoujf.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.tudoujf.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <!--//////////////////////////////////极光推送////////////////////////////////////////////////-->


    <uses-feature
        android:name="android.hardware.camera"
        tools:ignore="UnsupportedChromeOsHardware" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        tools:ignore="UnsupportedChromeOsHardware" />


    <application
        android:name=".mapi.MApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/act_lock_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="sak"
            android:value=";3jm$>/p-ED^cVz_j~.KV&amp;V)k9jn,UAH" />
        <meta-data
            android:name="ssk"
            android:value="DY34fdgsWET@#$%wg#@4fgd345sg" />
        <meta-data
            android:name="rak"
            android:value="54Ms5bkE6UEdyrRviJ0![OR]g+i79x]k" />
        <meta-data
            android:name="rsk"
            android:value="DYklj45T78ET@asd23" />

        <!-- 1.欢迎页activity -->
        <activity android:name=".activity.other.WelcomeActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 21.预览各个activity的界面 -->
        <activity android:name=".activity.other.PreviewActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--&lt;!&ndash; 监听拦截home键 &ndash;&gt;-->
            <!--&lt;!&ndash; <category android:name="android.intent.category.HOME" /> &ndash;&gt;-->
            <!--&lt;!&ndash; <category android:name="android.intent.category.DEFAULT" /> &ndash;&gt;-->
            <!--</intent-filter>-->
        </activity>
        <!-- 2.初次引导页activity -->
        <activity android:name=".activity.other.GuideActivity" />
        <!--3. 网络测试activity -->
        <activity android:name=".activity.other.HttpTestActivity" />
        <!--4. 主页activity -->
        <activity
            android:name=".activity.home.HomeActivity"
            android:launchMode="singleTask" />
        <!-- 5.登录页activity -->
        <activity
            android:name=".activity.other.LoginActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <!-- 6.注册页activity -->
        <activity android:name=".activity.other.RegisterActivity" />
        <!-- 7.确认密码页activity -->
        <activity android:name=".activity.other.AffirmPasswordActivity" />
        <!--8.产品详情activity-->
        <activity android:name=".activity.managemoney.ProductDetailsActivity" />
        <!--9.确认购买activity-->
        <activity android:name=".activity.managemoney.AffirmBuyActivity" />
        <!--10.选择返现券activity-->
        <activity android:name=".activity.managemoney.FanXianQuanSelActivity" />
        <!--11.选择红包activity-->
        <activity android:name=".activity.managemoney.RedPackageActivity" />
        <!--12.安全保障activity-->
        <activity android:name=".activity.home.SafetyControlActivity" />
        <!--13.债权详情activity-->
        <activity android:name=".activity.managemoney.CreditorRightsDetailsActivity" />
        <!--14.债权详情购买确认activity-->
        <activity android:name=".activity.managemoney.AffirmBuyCreditorsRightsActivity" />
        <!--15.新手福利activity-->
        <activity android:name=".activity.home.NewbieWelfareActivity" />
        <!--16.签到activity-->
        <activity android:name=".activity.home.SignInActivity" />
        <!--17.积分商城activity-->
        <activity android:name=".activity.home.IntegralShopActivity" />
        <!--18.汇付支付activity-->
        <activity android:name=".activity.other.HuiFuRegisterActivity" />
        <!--19.我的收益activity-->
        <activity android:name=".activity.my.myearnings.MyEarningsActivity" />
        <!--20.测试用的activity,正式发布时删除-->
        <activity android:name=".activity.other.TestActivity" />


        <!-- 22.忘记密码activity -->
        <activity android:name=".activity.other.FindPasswordActivity" />
        <!-- 23.手势密码activity -->
        <activity android:name=".activity.other.LockActivity" />
        <!-- 24.设置手势密码activity -->
        <activity android:name=".activity.other.DrawGestureActivity" />
        <!-- 25.上拉加载下拉刷新activity -->
        <activity android:name=".activity.other.PushPullActivity" />
        <!--26.新手体验标activity-->
        <activity android:name=".activity.home.NewcomerExperienceBidActivity" />
        <!--27.信息披露activity-->
        <activity android:name=".activity.home.InfoPublishActivity" />
        <!--28.我的体验金activity-->
        <activity android:name=".activity.home.MyExperienceGoldActivity" />
        <!--29.活动专区activity-->
        <activity android:name=".activity.home.SpecialOfferActivity" />
        <!--30.我的消息-->
        <activity android:name=".activity.home.MyMessageActivity" />
        <!--31.公司地址显示activity-->
        <activity android:name=".activity.home.AdressActivity" />
        <!--32.积分记录activity-->
        <activity android:name=".activity.home.IntegralRecodeActivity" />
        <!--33.我的消息&#45;&#45;消息详情activity-->
        <activity android:name=".activity.home.MessageDetailsActivity" />
        <!--34.webview加titleactivity-->
        <activity android:name=".activity.common.WebActivity" />
        <!--35.我的推广activity-->
        <activity android:name=".activity.my.mypopularize.MyPopularizeActivity" />
        <!--36.成功邀请activity-->
        <activity android:name=".activity.my.mypopularize.SucceedInvitationActivity" />
        <!--37.结算记录activity-->
        <activity android:name=".activity.my.mypopularize.AccountRecordActivity" />
        <!--38.我的推广页面-成功邀请-推广记录activity-->
        <activity android:name=".activity.my.mypopularize.SucceedInvitationRecommendRecordActivity" />
        <!--39.立即推荐activity-->
        <activity android:name=".activity.my.mypopularize.NowRecommendActivity" />
        <!--40.推广奖励说明activity-->
        <activity android:name=".activity.my.mypopularize.InvitationAwardExplainActivity" />
        <!--41.我的项目activity-->
        <activity android:name=".activity.my.myproject.MyProjectActivity" />
        <!--42.我的债权详情activity-->
        <activity android:name=".activity.my.myproject.MyCreditorRightsDetailsActivity" />
        <!--43.我的投资详情activity-->
        <activity android:name=".activity.my.myproject.MyInvestDetailsActivity" />
        <!--44.资金详情activity-->
        <activity android:name=".activity.my.funddetailschongzhitixian.FundDetailsActivity" />
        <!--45.交易记录activity-->
        <activity android:name=".activity.my.funddetailschongzhitixian.TransactionRecordActivity" />
        <!--46.充值activity-->
        <activity android:name=".activity.my.funddetailschongzhitixian.RechargeActivity" />
        <!--47.充值记录activity-->
        <activity
            android:name=".activity.my.funddetailschongzhitixian.RechargeRecordActivity"
            android:launchMode="singleTop" />
        <!--48.提现activity-->
        <activity android:name=".activity.my.funddetailschongzhitixian.WithdrawActivity" />
        <!--49.提现记录activity-->
        <activity
            android:name=".activity.my.funddetailschongzhitixian.WithdrawRecordActivity"
            android:launchMode="singleTop" />
        <!--50.设置activity-->
        <activity android:name=".activity.my.set.SetActivity" />
        <!--51.意见反馈activity-->
        <activity android:name=".activity.my.set.FeedbackActivity" />
        <!--52.帮助中心问题分类activity-->
        <activity android:name=".activity.my.set.QuestionClassificationActivity" />
        <!--53.帮助中心通用activity-->
        <activity android:name=".activity.my.set.HelpCenterCommonActivity" />
        <!--54.我的账户activity-->
        <activity android:name=".activity.my.myaccount.MyAccountActivity" />
        <!--55.修改密码activity-->
        <activity android:name=".activity.my.myaccount.ChangePasswordActivity" />
        <!--56.修改手机号码,展示旧号-->
        <activity android:name=".activity.my.myaccount.ChangePhoneNumberActivity" />
        <!--57.修改手机号&#45;&#45;绑定新号-->
        <activity android:name=".activity.my.myaccount.CommitPhoneNumberActivity" />
        <!--58.修改手机号&#45;&#45;验证原绑定手机号-->
        <activity android:name=".activity.my.myaccount.CheckOldPhoneNumberActivity" />
        <!--59.绑定邮箱activity-->
        <activity android:name=".activity.my.myaccount.BindEmailActivity" />
        <!--60.确认绑定邮箱activity-->
        <activity android:name=".activity.my.myaccount.BindEmailConfirmActivity" />
        <!--61.银行卡管理activity-->
        <activity android:name=".activity.my.myaccount.BankCardManageActivity" />
        <!--62.我的福利activity-->
        <activity android:name=".activity.my.mywelfare.MyWelfareActivity" />
        <!--63.展示图片的activity,可以自由缩放,拖动-->
        <activity android:name=".activity.managemoney.ImageShowActivity" />
        <!--64.手势缩放移动图片的activity-->
        <activity android:name=".activity.test.ImageScaleActivity" />
        <!--65.债权购买汇付跳转页activity-->
        <activity android:name=".activity.managemoney.CreditorRightsHuiFuBuyActivity" />
        <!--66.实名认证activity-->
        <activity android:name=".activity.my.RealNameAuthenticationHuiFuActivity" />
        <!--67.标的购买汇付跳转页activity-->
        <activity android:name=".activity.managemoney.InvestHuiFuBuyActivity" />
        <!--68.汇付充值activity-->
        <activity android:name=".activity.managemoney.RechargeHuiFuActivity" />
        <!--68.汇付提现activity-->
        <activity android:name=".activity.my.funddetailschongzhitixian.WithdrawHuiFuActivity" />
        <!--69.猜猜乐activity-->
        <activity android:name=".activity.test.GuessHappyActivity" />
        <!--70.添加银行卡汇付页面activity-->
        <activity android:name=".activity.managemoney.AddBankCardHuiFuActivity" />
        <!--71.幸运抽奖activity-->
        <activity android:name=".activity.discover.LuckyLotteryActivity" />
        <!--72.申请VIPactivity-->
        <activity android:name=".activity.my.myaccount.VIPActivity" />
        <!--73.VIP购买汇付跳转页activity-->
        <activity android:name=".activity.my.myaccount.VIPHuiFuBuyActivity" />
        <!--74.VIP申请记录activity-->
        <activity android:name=".activity.my.myaccount.VIPRecordActivity" />
        <!--75.积分商城-&#45;&#45;商品分类activity-->
        <activity android:name=".activity.discover.ClassificationOfGoodsActivity" />
        <!--76.积分排行榜activity-->
        <activity android:name=".activity.discover.IntegralRankingListActivity" />
        <!--热门兑换activity-->
        <activity android:name=".activity.discover.HotExchangeActivity" />
        <service
            android:name=".service.MyService"
            android:enabled="true" />
        <service
            android:name=".service.MyIntentService"
            android:exported="false">

        </service>
        <!--签到悬浮窗service-->
        <service
            android:name=".service.SignInService"
            android:exported="false" />

        <!--//////////////////友盟分享activity///////////////////////////////////////////////////-->

        <!--//////////////////新浪需要的activity///////////////////////////////////////////////////-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!--//////////////////新浪需要的activity///////////////////////////////////////////////////-->


        <!--//////////////////支付宝需要的activity///////////////////////////////////////////////////-->
        <activity
            android:name=".apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--//////////////////支付宝需要的activity///////////////////////////////////////////////////-->


        <!--//////////////////钉钉要的activity///////////////////////////////////////////////////-->

        <activity
            android:name=".ddshare.DDShareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--//////////////////钉钉要的activity///////////////////////////////////////////////////-->


        <!--//////////////////QQ完整版要的activity///////////////////////////////////////////////////-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".wxapi.WXEntryActivity" />

        <!--//////////////////QQ完整版要的activity///////////////////////////////////////////////////-->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a1ba2c48f4a9d46730000ab" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="xiaomiyingyongshichang" />


        <!--//////////////////友盟分享activity///////////////////////////////////////////////////-->


        <!--UdeskChatActivity聊天界面activity-->



        <!--&lt;!&ndash;//////////////////////////////////极光推送////////////////////////////////////////////////&ndash;&gt;-->
        <!--&lt;!&ndash; Rich push 核心功能 since 2.0.6&ndash;&gt;-->
        <!--<activity-->
            <!--android:name="cn.jpush.android.ui.PopWinActivity"-->
            <!--android:theme="@style/MyDialogStyle"-->
            <!--android:exported="false">-->
        <!--</activity>-->

        <!--&lt;!&ndash; Required SDK核心功能&ndash;&gt;-->
        <!--<activity-->
            <!--android:name="cn.jpush.android.ui.PushActivity"-->
            <!--android:configChanges="orientation|keyboardHidden"-->
            <!--android:theme="@android:style/Theme.NoTitleBar"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.ui.PushActivity" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="com.tudoujf" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--&lt;!&ndash; Required SDK 核心功能&ndash;&gt;-->
        <!--&lt;!&ndash; 可配置android:process参数将PushService放在其他进程中 &ndash;&gt;-->
        <!--<service-->
            <!--android:name="cn.jpush.android.service.PushService"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.intent.REGISTER" />-->
                <!--<action android:name="cn.jpush.android.intent.REPORT" />-->
                <!--<action android:name="cn.jpush.android.intent.PushService" />-->
                <!--<action android:name="cn.jpush.android.intent.PUSH_TIME" />-->
            <!--</intent-filter>-->
        <!--</service>-->
        <!--&lt;!&ndash; since 3.0.9 Required SDK 核心功能&ndash;&gt;-->
        <!--<provider-->
            <!--android:authorities="com.tudoujf.DataProvider"-->
            <!--android:name="cn.jpush.android.service.DataProvider"-->
            <!--android:exported="false"-->
            <!--/>-->

         <!--&lt;!&ndash;since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 &ndash;&gt;-->
         <!--&lt;!&ndash;若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 &ndash;&gt;-->
        <!--<service-->
            <!--android:name="cn.jpush.android.service.DaemonService"-->
            <!--android:enabled="true"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.intent.DaemonService" />-->
                <!--<category android:name="com.tudoujf" />-->
            <!--</intent-filter>-->

        <!--</service>-->
        <!--&lt;!&ndash; since 3.1.0 Required SDK 核心功能&ndash;&gt;-->
        <!--<provider-->
            <!--android:authorities="com.tudoujf.DownloadProvider"-->
            <!--android:name="cn.jpush.android.service.DownloadProvider"-->
            <!--android:exported="true"-->
            <!--/>-->
        <!--&lt;!&ndash; Required SDK核心功能&ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="cn.jpush.android.service.PushReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="false">-->
            <!--<intent-filter android:priority="1000">-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   &lt;!&ndash;Required  显示通知栏 &ndash;&gt;-->
                <!--<category android:name="com.tudoujf" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
            <!--</intent-filter>-->
            <!--&lt;!&ndash; Optional &ndash;&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.PACKAGE_ADDED" />-->
                <!--<action android:name="android.intent.action.PACKAGE_REMOVED" />-->

                <!--<data android:scheme="package" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; Required SDK核心功能&ndash;&gt;-->
        <!--<receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>-->

        <!--&lt;!&ndash; User defined.  For test only  用户自定义的广播接收器&ndash;&gt;-->
        <!--<receiver-->
            <!--android:name=".jpush.MyReceiver"-->
            <!--android:exported="false"-->
            <!--android:enabled="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.intent.REGISTRATION" /> &lt;!&ndash;Required  用户注册SDK的intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> &lt;!&ndash;Required  用户接收SDK消息的intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> &lt;!&ndash;Required  用户接收SDK通知栏信息的intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> &lt;!&ndash;Required  用户打开自定义通知栏的intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.CONNECTION" />&lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt;-->
                <!--<category android:name="com.tudoujf" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

         <!--&lt;!&ndash;User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调&ndash;&gt;-->
        <!--<receiver android:name=".jpush.MyJPushMessageReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />-->
                <!--<category android:name="com.tudoujf"></category>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
         <!--&lt;!&ndash;Required  . Enable it you can get statistics data with channel&ndash;&gt;-->
        <!--<meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>-->
        <!--<meta-data android:name="JPUSH_APPKEY" android:value="f1025da9f5dbb7772483cd6d" /> &lt;!&ndash;  </>值来自开发者平台取得的AppKey&ndash;&gt;-->



        <!-- 以下是极光推送的配置-->
        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <!--<service-->
            <!--android:name="cn.jpush.android.service.PushService"-->
            <!--android:enabled="true"-->
            <!--android:exported="false" >-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.intent.REGISTER" />-->
                <!--<action android:name="cn.jpush.android.intent.REPORT" />-->
                <!--<action android:name="cn.jpush.android.intent.PushService" />-->
                <!--<action android:name="cn.jpush.android.intent.PUSH_TIME" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--&lt;!&ndash; since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 &ndash;&gt;-->
        <!--&lt;!&ndash; 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 &ndash;&gt;-->
        <!--<service-->
            <!--android:name="cn.jpush.android.service.DaemonService"-->
            <!--android:enabled="true"-->
            <!--android:exported="true">-->
            <!--<intent-filter >-->
                <!--<action android:name="cn.jpush.android.intent.DaemonService" />-->
                <!--<category android:name="com.example.maguitao.demo"/>-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--&lt;!&ndash; Required SDK核心功能&ndash;&gt;-->
        <!--<receiver-->
            <!--android:name="cn.jpush.android.service.PushReceiver"-->
            <!--android:enabled="true" >-->
            <!--<intent-filter android:priority="1000">-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />-->
                <!--<category android:name="com.example.maguitao.demo"/>-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
            <!--</intent-filter>-->
            <!--&lt;!&ndash; Optional &ndash;&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.PACKAGE_ADDED" />-->
                <!--<action android:name="android.intent.action.PACKAGE_REMOVED" />-->
                <!--<data android:scheme="package" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; Required SDK核心功能&ndash;&gt;-->
        <!--<activity-->
            <!--android:name="cn.jpush.android.ui.PushActivity"-->
            <!--android:configChanges="orientation|keyboardHidden"-->
            <!--android:theme="@android:style/Theme.NoTitleBar"-->
            <!--android:exported="false" >-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.ui.PushActivity" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="com.example.maguitao.demo" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--&lt;!&ndash; Required SDK核心功能&ndash;&gt;-->
        <!--<service-->
            <!--android:name="cn.jpush.android.service.DownloadService"-->
            <!--android:enabled="true"-->
            <!--android:exported="false" >-->
        <!--</service>-->

        <!--&lt;!&ndash; Required SDK核心功能&ndash;&gt;-->
        <!--<receiver android:name="cn.jpush.android.service.AlarmReceiver" />-->

        <!--&lt;!&ndash; User defined.  For test only  用户自定义的广播接收器&ndash;&gt;-->
        <!--<receiver-->
            <!--android:name=".jpush.MyReceiver"-->
            <!--android:exported="false"-->
            <!--android:enabled="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.intent.REGISTRATION" /> &lt;!&ndash;Required  用户注册SDK的intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> &lt;!&ndash;Required  用户接收SDK消息的intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> &lt;!&ndash;Required  用户接收SDK通知栏信息的intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> &lt;!&ndash;Required  用户打开自定义通知栏的intent&ndash;&gt;-->
                <!--<action android:name="cn.jpush.android.intent.CONNECTION" />&lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt;-->
                <!--<category android:name="com.example.maguitao.demo" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver android:name=".activity.home.HomeActivity$MessageReceiver"/>-->


        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。-->
        <!--<meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>-->
        <!--&lt;!&ndash; Required. AppKey copied from Portal &ndash;&gt;-->
        <!--<meta-data android:name="JPUSH_APPKEY" android:value="9389b8bad8346cece74fb112"/>-->
        <!--      极光推送配置完成-->
        <!--&lt;!&ndash;//////////////////////////////////极光推送////////////////////////////////////////////////&ndash;&gt;-->


    </application>

</manifest>