<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tudoujf">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".mapi.MApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="sak"
            android:value=";3jm$>/p-ED^cVz_j~.KV&amp;V)k9jn,UAH" />
        <meta-data
            android:name="ssk"
            android:value="DY34fdgsWET@#$%wg#@4fgd345sg" />
        <meta-data
            android:name="rak"
            android:value="54Ms5bkE6UEdyrRviJ0![OR]g+i79x]k" />
        <meta-data
            android:name="rsk"
            android:value="DYklj45T78ET@asd23" />

        <!-- 欢迎页activity -->
        <activity android:name=".activity.WelcomeActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <!-- 初次引导页activity -->
        <activity android:name=".activity.GuideActivity" />
        <!-- 网络测试activity -->
        <activity android:name=".activity.HttpTestActivity" />
        <!-- 主页activity -->
        <activity android:name=".activity.HomeActivity" />
        <!-- 登录页activity -->
        <activity android:name=".activity.LoginActivity" />
        <!-- 注册页activity -->
        <activity android:name=".activity.RegisterActivity" />
        <!-- 确认密码页activity -->
        <activity android:name=".activity.AffirmPasswordActivity" />
        <!--产品详情activity-->
        <activity android:name=".activity.managemoney.ProductDetailsActivity" />
        <!--确认购买activity-->
        <activity android:name=".activity.managemoney.AffirmBuyActivity" />
        <!--选择返现券activity-->
        <activity android:name=".activity.managemoney.FanXianQuanSelActivity" />
        <!--选择红包activity-->
        <activity android:name=".activity.managemoney.RedPackageActivity" />
        <!--安全保障activity-->
        <activity android:name=".activity.home.SafetyControlActivity" />
        <!--债权详情activity-->
        <activity android:name=".activity.managemoney.CreditorRightsDetailsActivity" />
        <!--债权详情购买确认activity-->
        <activity android:name=".activity.managemoney.AffirmBuyCreditorsRightsActivity" />
        <!--新手福利activity-->
        <activity android:name=".activity.home.NewbieWelfareActivity" />
        <!--签到activity-->
        <activity android:name=".activity.home.SignInActivity"/>
        <!--积分商城activity-->
        <activity android:name=".activity.home.IntegralShopActivity"/>
        <!--汇付支付activity-->
        <activity android:name=".activity.HuiFuRegisterActivity"/>
        <!--我的收益activity-->
        <activity android:name=".activity.MyEarningsActivity"/>


        <!-- 预览各个activity的界面 -->
        <activity android:name=".activity.PreviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- 监听拦截home键 -->
                <!-- <category android:name="android.intent.category.HOME" /> -->
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            </intent-filter>
        </activity>
        <!-- 忘记密码activity -->
        <activity android:name=".activity.FindPasswordActivity" />
        <!-- 手势密码activity -->
        <activity android:name=".activity.LockActivity" />
        <!-- 设置手势密码activity -->
        <activity android:name=".activity.DrawGestureActivity" />
        <!-- 上拉加载下拉刷新activity -->
        <activity android:name=".activity.PushPullActivity" />
        <!--新手体验标activity-->
        <activity android:name=".activity.home.NewcomerExperienceBidActivity" />
        <!--信息披露activity-->
        <activity android:name=".activity.home.InfoPublishActivity" />
        <!--我的体验金activity-->
        <activity android:name=".activity.home.MyExperienceGoldActivity" />
        <!--活动专区activity-->
        <activity android:name=".activity.home.SpecialOfferActivity" />
        <!--我的信息activity-->
        <activity android:name=".activity.home.MyMessageActivity" />
        <!--公司地址显示activity-->
        <activity android:name=".activity.home.AdressActivity" />
        <!--积分记录activity-->
        <activity android:name=".activity.home.IntegralRecodeActivity" />
        <!--我的消息&#45;&#45;消息详情activity-->
        <activity android:name=".activity.home.MessageDetailsActivity"/>
        <!--webview加titleactivity-->
        <activity android:name=".activity.common.WebActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true" />
        <service
            android:name=".service.MyIntentService"
            android:exported="false">

        </service>
        <!--签到悬浮窗service-->
        <service
            android:name=".service.SignInService"
            android:exported="false" />
    </application>

</manifest>