<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tudoujf">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".mapi.MApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 欢迎页activity -->
        <activity android:name=".activity.WelcomeActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <!-- 初次引导页activity -->
        <activity android:name=".activity.GuideActivity" />
        <!-- 网络测试activity -->
        <activity android:name=".activity.HttpTestActivity" />
        <!-- 主页activity -->
        <activity android:name=".activity.HomeActivity" />
        <!-- 登录页activity -->
        <activity android:name=".activity.LoginActivity" />
        <!-- 注册页activity -->
        <activity android:name=".activity.RegisterActivity" />
        <!-- 确认密码页activity -->
        <activity android:name=".activity.AffirmPasswordActivity" />
        <!--产品详情activity-->
        <activity android:name=".activity.ProductDetailsActivity"/>
        <!--确认购买activity-->
        <activity android:name=".activity.AffirmBuyActivity"/>
        <!--选择返现券activity-->
        <activity android:name=".activity.FanXianQuanSelActivity"/>
        <!--选择红包activity-->
        <activity android:name=".activity.RedPackageActivity"/>



        <!-- 预览各个activity的界面 -->
        <activity android:name=".activity.PreviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- 监听拦截home键 -->
                <!-- <category android:name="android.intent.category.HOME" /> -->
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            </intent-filter>
        </activity>
        <!-- 忘记密码activity -->
        <activity android:name=".activity.FindPasswordActivity" />
        <!-- 手势密码activity -->
        <activity android:name=".activity.LockActivity" />
        <!-- 设置手势密码activity -->
        <activity android:name=".activity.DrawGestureActivity" />
        <!-- 上拉加载下拉刷新activity -->
        <activity android:name=".activity.PushPullActivity" />
        <!--新手体验标activity-->
        <activity android:name=".activity.NewcomerExperienceBidActivity"/>
        <!--信息披露activity-->
        <activity android:name=".activity.InfoPublishActivity"/>
        <!--我的体验金activity-->
        <activity android:name=".activity.MyExperienceGoldActivity"/>

        <service
            android:name=".service.MyService"
            android:enabled="true" />
        <service
            android:name=".service.MyIntentService"
            android:exported="false">

        </service>
        <!--签到悬浮窗service-->
        <service android:name=".service.SignInService"
            android:exported="false"/>
    </application>

</manifest>